package mocks

import (
	"{{.ProjectName}}/internal/models"
	"github.com/stretchr/testify/mock"
)

type {{.ModelName}}RepositoryMock struct {
	mock.Mock
}

func (m *{{.ModelName}}RepositoryMock) FindAll() ([]models.{{.ModelName}}, error) {
	args := m.Called()
	if args.Get(0) == nil {
		return nil, args.Error(1)
	}

	return args.Get(0).([]models.{{.ModelName}}), args.Error(1)
}

func (m *{{.ModelName}}RepositoryMock) FindByID(id uint) (*models.{{.ModelName}}, error) {
	args := m.Called(id)
	if args.Get(0) == nil {
		return nil, args.Error(1)
	}

	return args.Get(0).(*models.{{.ModelName}}), args.Error(1)
}

func (m *{{.ModelName}}RepositoryMock) Create(entity *models.{{.ModelName}}) error {
	args := m.Called(entity)
	return args.Error(0)
}

func (m *{{.ModelName}}RepositoryMock) Update(entity *models.{{.ModelName}}) error {
	args := m.Called(entity)
	return args.Error(0)
}

func (m *{{.ModelName}}RepositoryMock) Delete(id uint) error {
	args := m.Called(id)
	return args.Error(0)
}
